*{margin:0;padding:0;list-style-type:none;}
a,img {
    border:0;
}
body{
    font:14px/180% Arial, Helvetica, sans-serif, "新宋体";
}
a {
    text-decoration: none;
}

.container-tilte {
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #333333;
    letter-spacing: 0;
    font-weight: bold;
    text-align: center;
    margin-bottom: 36px;
}

.formbox {
    width:920px;
    margin:40px auto;
}
.formcon {
    padding:0px 40px;
}
.formcon table input {
    width:200px;
}
.formcon table td {
    padding:5px;
    line-height:24px;
}
/* flow_steps */
.flow_steps {
    height:32px;
    overflow:hidden;
}
.flow_steps li {
    float:left;
    width: 180px;
    height:32px;
    line-height:32px;
    text-align:center;
    background:url(https://webvpn.ujs.edu.cn/https/77726476706e69737468656265737421e0f6528f69256243300d8db9d6562d/cas/custom/images/shape.png) no-repeat 100% -32px #F0F1F9;
    font-weight:bold;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    letter-spacing: 0;
    color:#666666;
}
.flow_steps li.done {
    background-position:100% 0;
    background-color:#3F51B5;
    color:#fff;
}
.flow_steps li.current_prev {
    background-position:100% 0;
    background-color:#3F51B5;
    color:#fff;
}
.flow_steps li.current {
    color:#fff;
    background-color:#3F51B5;
}
.flow_steps li#finish.current,.flow_steps li:last-child {
    background-image:none;
}
.flow_steps li#finish {
    background-image:none;
}

.grid-container {
    box-sizing: border-box;
}
.row:before, .row:after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    visibility: hidden;
    clear: both;
}
.one-item {
    text-align:center;
    padding:60px 0;
}
.pointer {
    cursor: pointer;
}
.one-title {
    display: block;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    text-decoration: none;
    margin-top:20px;

}


.grid-container *{
    box-sizing: border-box;
}

[class*='col-'] {
    /*float: left;*/
    min-height: 1px;
    width: 16.66%;
    /*-- 设置间隙 --*/
    padding: 12px;
    position: relative;
}
.col-1{
    width: 16.6%;
}
.col-2{
    width: 30%;
    display: inline-block;
    /*float: left;*/
}
.col-3{
    width: 50%;
}
.col-4{
    width: 66.6%;
}
.col-5{
    width: 83.3%;
}
.col-6{
    width: 100%;
}

.btn {
    border:none;
    width:80px;
    height:32px;
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.31);
    border-radius: 1px;
    border-radius: 1px;
    cursor: pointer;
    margin-right:16px;
}
.btn.primary {
    background: #2196F3;
    color:#fff;
}

.text-center {
    /*text-align: center;*/
}

.form {
    margin-top:40px;
}
.form input {
    width:220px;
    height:32px;
    line-height:32px;
    background: #FFFFFF;
    border: 1px solid #D8DCF0;
    padding:0 8px;
}
.form .form-text {
    width:220px;
    display: inline-block;
    text-align: left;
}
.form .item {
    margin-bottom:30px;
    position: relative;

}
.form .item  label {
    width:120px;
    display: inline-block;
    margin: 0 10px;
    text-align: right;
}
/*.form .item:first-child input {*/
    /*margin-left:-4px;*/
/*}*/

.three-p {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FF9803;
    letter-spacing: 0;
    margin-bottom:20px;
}
.send-verifation {
    width: 80px;
    height: 32px;
    border: 1px solid #2196F3;
    border-radius: 1px;
    color: #2196F3;
    line-height: 32px;
    position: absolute;
    margin-left: 4px;
    top: 0;
    background: #fff;
}
.button-disabled {
    cursor: default;
    border: 1px solid #999;
    color: #999;
}
.gobackLogin {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #2196F3;
    letter-spacing: 0;
}
.error-border {
    border: 1px solid #E24034!important;
}
.error {
    color:#E24034;
    width: 500px;
    position: absolute;
    line-height: 32px;
    display: none;
    margin-left: 10px;
    text-align: left;
    font-size: 12px;
}
.getBackPasswordEmailInfo{
    color:#999;
    width: 500px;
    position: absolute;
    display: none;
    margin-left: 150px;
    text-align: left;
    font-size: 12px;
}
.getBackPasswordPhoneInfo{
    color:#999;
    width: 500px;
    position: absolute;
    display: none;
    margin-left: 150px;
    text-align: left;
    font-size: 12px;
}
.captcha-img {
    position: absolute;
    margin-left:16px;
    cursor: pointer;
    padding-top: 2px;
}

.form-btns {
    position: relative;
    margin-left: 145px;
}

.form-tips {
    display: block;
    margin-left: 145px;
    color: rgba(0,0,0,0.5);
    font-size: 12px;
    margin-top: 2px;
    text-align: left;
    margin-bottom: -10px;
}
.finish-icon {
    background: url(https://webvpn.ujs.edu.cn/https/77726476706e69737468656265737421e0f6528f69256243300d8db9d6562d/cas/custom/images/finish.png) no-repeat;
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-bottom: 5px;
    background-size: 90%;
}
.fail-icon {
    background: url(https://webvpn.ujs.edu.cn/https/77726476706e69737468656265737421e0f6528f69256243300d8db9d6562d/cas/custom/images/error.png) no-repeat;
}
.finish-p {
    font-size: 14px;
    color: #8e8e8e;
    line-height: 35px;
    font-family: Arial, Helvetica, sans-serif
}

.birthday > div {
    float: none;
}
/* .form-two-question input {
  width:272px!important;
} */